@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

html,body {
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

a {
  color: rgb(255, 48, 102);
  text-decoration: none;
}

a#resume {
  border-bottom: 1px solid transparent;
  transition: all ease 0.5s;
}

a#resume:hover {
  border-color: rgb(255, 48, 102);
}

.social-icons {
  margin-top: 1em;
}

.icon-margin {
  margin: 0.60em;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 0 0 0.30em 0;
}

h4 {
  font-weight: 700;
  font-size: 1.8em;
  margin: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dribbble, .cargo, .medium, .linkedin, .twitter, .gmail {
  width: 32px;
  fill: #000;
  fill-rule: evenodd;
  transition: fill 0.5s ease;
}

.dribbble:hover {
  fill: #EA4C89;
}

.cargo:hover {
  fill: #0FCE83;
}

.medium:hover {
  fill: #00AB6C;
}

.linkedin:hover {
  fill: #0077B5;
}

.twitter:hover {
  fill: #1DA1F2;
}

.gmail:hover {
  fill: #DD4B39;
}
