@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins:400,700');

html,body {
  height: 100%;
  margin: 0;
}
body {
  background: #005fc9;
}
div.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
	margin-left: 10%;
	width:80%;
}

section.informacion {
  display: flex;
	flex-wrap: wrap;
}

h1,h2 {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 4em;
	font-weight:700;
  letter-spacing: -0.03em;
	margin: 0;
  flex:1 1 70%;
}

h2 {
  color: #00eb7f;
  font-size: 2em;
  font-weight:400;
  margin-top: 0;
}


p {
	color: #FFF;
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
  line-height: 1.5em;
}

a {

	color: #FFF;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}

a:hover {
  color: #00eb7f;
  text-decoration: none;
}

#downloadButton {
  background: #00eb7f;
  border-radius: 0.2em;
  color: #000;
  display: inherit;
  font-family: 'Inconsolata', monospace;
  padding: 1em 2em;
  text-decoration: none;
  transition: box-shadow 0.5s;
}

#downloadButton:hover {
  box-shadow: 2px 20px 30px 4px #04458e;
}

@media only screen and (max-width: 600px) {

h1 {
	font-size: 3.5em;
  line-height: 1em;
}

h2 {
  font-size: 1.6em;
}

p {
	font-size: 1em;
}

#downloadButton {
  box-shadow: none;
  padding: 1em 2em
}

#juan {
  display: none;
}

div.wrapper {
	margin-bottom: 20%;
	width:70%;
}

}
